@model DogWalk.Data.Models.PaymentModel

<div>
    <h4>PaymentModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DatePaid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatePaid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaymentType)
        </dt>

        <dd>
            @Html.DisplayNameFor(model => model.PaymentType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaymentStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentStatus)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
