@model IEnumerable<DogWalk.Data.Models.MessageModel>

@{
    ViewBag.Title = "ViewListOfMessages";
}


<h2>ViewListOfMessages</h2>

<p>
    @Html.ActionLink("Create New", "Send")
</p>

@using (Html.BeginForm())
{

    @Html.Label("Begin Search Date")
    @Html.TextBox("dateStart",null, new { @class = "datePicker" })
    
    @Html.Label("End Search Date")
    @Html.TextBox("dateStart", null, new { @class = "datePicker"})
    
    @Html.Label("Walker Name")
    @Html.DropDownList("id", (IEnumerable<SelectListItem>)ViewBag.ListOfWalkers , "View All", new { htmlAttributes = new { @class = "form-control" } })
    
    <input type="submit" value="Search" />
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Body)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateSent)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Body)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateSent)
        </td>
        <td>
            @Html.ActionLink("Details", "ViewMessage", new { id=item.ID })
        </td>
    </tr>
}

</table>
